# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio trash
visual-studio/Debug/*
visual-studio/opengl-texturing.opensdf
visual-studio/opengl-texturing.sdf
visual-studio/opengl-texturing.v11.suo
visual-studio/opengl-texturing.vcxproj.user