# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio trash
windows/Debug/*
windows/opengl-texturing.opensdf
windows/opengl-texturing.sdf
windows/opengl-texturing.v11.suo
windows/opengl-texturing.vcxproj.user